<p>Hey {{ name }},</p>
<p>Please click the button below or enter this <strong>{{verificationToken}}</strong> token in cargoo! </p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>


<p>Token and the url is valid for 5 minute(s)!</p>
<p>If you did not request this email you can safely ignore it.</p>